<h1>The world famous rock, paper scissors!</h1>
<p>Choose play to start a game of champions.
<br>
<br>
<br>
  Rock beats scissors, but loses to paper. <br>
  Paper beats rock, but loses to scissors. <br>
  Sciossrs beats paper, but loses to rock!
</p>
